<div>
    <div style="color:#4682B4; font-size:16pt; margin-top: 5px; margin-bottom: 10px;">
        <strong>$TITLE$</strong>
    </div>
    <span>$DATE$ &#8226; Comments: $NUM_COMMENTS$ &#8226; Supports: $NUM_SUPPORTS$</span><br />
    <span>Proposal code: <b>$CODE$</b></span>
    <p>$SUMMARY$</p><br />
    <strong>Districts</strong>: $DISTRICTS$<br />
    <strong>Categories</strong>: $CATEGORIES$<br />
    <strong>Topics</strong>: $TOPICS$<br />
    <strong>Link</strong>: $URL$<br />
    <div style="margin-top: 10px; margin-bottom: 10px;">$ARGUMENTS$</div>
    <hr>
</div>
