<div style="margin-bottom: 10px; border-left: 1px solid #4682B4; padding-left: 10px;">
    <div style="color:#4682B4; font-size:16pt; margin-top: 5px; margin-bottom: 10px;">
        <strong>$TITLE$</strong>
    </div>
    <span>Proposal <b>$CODE$</b> of $DATE$</span><br />
    <span>Comments: $NUM_COMMENTS$ &#8226; Supports: $NUM_SUPPORTS$ &#8226; Arguments: $NUM_ARGUMENTS$</span>
    <p>$SUMMARY$</p><br />
    <span>- Districts</span>: $DISTRICTS$<br />
    <span>- Categories</span>: $CATEGORIES$<br />
    <span>- Topics</span>: $TOPICS$<br />
    <p>Link: $URL$</p>
    <p><strong>Comments:</strong></p>
    <div>$COMMENTS$</div>
</div>
